<div data-role="view" data-title="data" data-layout="main" data-model="app.data" data-show="app.data.onShow" data-after-show="app.data.afterShow">

    <ul data-role="listview" data-source="Books.data" data-template="books-template"></ul>


    <script type="text/x-kendo-template" id="books-template">
        
            <div class="bookImage">#: required_points #</div>
            <div class="bookTitle">#: id #</div>
            <div class="bookAuthor">#: end_date #</div>
    
    </script>
</div>