<div data-role="view" data-title="login" data-layout="main" data-model="app.login" data-show="app.login.onShow" data-after-show="app.login.afterShow">
    <div id="loginModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label>Username
                        <input data-bind="value: loginModel.fields.user" placeholder="Username" type="text">
                    </label>

                </li>
                <li>

                    <label>password
                        <input data-bind="value: loginModel.fields.password" placeholder="password" type="text">
                    </label>

                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: loginModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: loginModel.submit }">Confirm</a>
            </div>
        </form>
        
        <!-- <ul data-role="listview" data-source="login.data" </ul>  -->

    <script type="text/x-kendo-template" id="books-template">
        
            <div class="bookImage">#: required_points #</div>
            <div class="bookTitle">#: id #</div>
            <div class="bookAuthor">#: end_date #</div>
    
    </script>

    </div>

</div>